# 2.2 - Data Pre-Processing

In [76]:
import json, csv
import pandas as pd

In [77]:
myFile = open('unfiltered.csv','r') # read the data
data = json.load(myFile)

In [78]:
print('Created at:', data[1]['created_at'])
print('Username:', data[1]['user']['name'])
print('Text:', data[1]['text'])
print('Location:', data[1]['user']['location'])
print('Hashtags:', data[1]['entities']['hashtags'])
print('User mentions:', data[1]['entities']['user_mentions'])

Created at: Tue May 18 15:34:14 +0000 2021
Username: Linda
Text: RT @billbowtell: “But (Hrdlicka’s) basic thing was that it’s like the flu. A couple of thousand people die every year from the flu here. It…
Location: None
Hashtags: []
User mentions: [{'screen_name': 'billbowtell', 'name': 'Bill Bowtell AO', 'id': 332496416, 'id_str': '332496416', 'indices': [3, 15]}]

In [79]:
# create an empty dataframe
df = pd.DataFrame(data)
# check type
print('df type:', type(df))

df type: <class 'pandas.core.frame.DataFrame'>

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53156 entries, 0 to 53155
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   created_at                 53156 non-null  object
 1   id                         53156 non-null  int64
 2   id_str                     53156 non-null  object
 3   text                       53156 non-null  object
 4   source                     53156 non-null  object
 5   truncated                  53156 non-null  bool
 6   in_reply_to_status_id      1991 non-null   float64
 7   in_reply_to_status_id_str  1991 non-null   object
 8   in_reply_to_user_id        2346 non-null   float64
 9   in_reply_to_user_id_str    2346 non-null   object
 10  in_reply_to_screen_name    2346 non-null   object
 11  user                       53156 non-null  object
 12  geo                        71 non-null     object
 13  coordinates                71 non-null     object
 14  place                      1181 non-null   object
 15  contributors               0 non-null      object
 16  retweeted_status           39776 non-null  object
 17  is_quote_status            53156 non-null  bool
 18  quote_count                53156 non-null  int64
 19  reply_count                53156 non-null  int64
 20  retweet_count              53156 non-null  int64
 21  favorite_count             53156 non-null  int64
 22  entities                   53156 non-null  object
 23  favorited                  53156 non-null  bool
 24  retweeted                  53156 non-null  bool
 25  filter_level               53156 non-null  object
 26  lang                       53156 non-null  object
 27  timestamp_ms               53156 non-null  object
 28  quoted_status_id           12786 non-null  float64
 29  quoted_status_id_str       12786 non-null  object
 30  quoted_status              12778 non-null  object
 31  quoted_status_permalink    12778 non-null  object
 32  extended_entities          1831 non-null   object
 33  possibly_sensitive         10776 non-null  object
 34  display_text_range         4983 non-null   object
 35  extended_tweet             9341 non-null   object
 36  withheld_in_countries      16 non-null     object
dtypes: bool(4), float64(3), int64(5), object(25)
memory usage: 13.6+ MB

In [81]:
myDF = pd.DataFrame(columns = ['created_at','user_name', 'screen_name', 'text',
                               'location','hashtags','mentions'])

In [82]:
myDF['created_at'] = df['created_at']
myDF['text'] = df['text']
myDF

,created_at,user_name,screen_name,text,location,hashtags,mentions
0,Tue May 18 15:34:14 +0000 2021,NaN,NaN,RT @TigressEllie: Bolton Heatmaps (.Gov) 15th/...,NaN,NaN,NaN
1,Tue May 18 15:34:14 +0000 2021,NaN,NaN,RT @billbowtell: “But (Hrdlicka’s) basic thing...,NaN,NaN,NaN
2,Tue May 18 15:34:14 +0000 2021,NaN,NaN,RT @ShamikaRavi: How NOT to communicate: Exhib...,NaN,NaN,NaN
3,Tue May 18 15:34:14 +0000 2021,NaN,NaN,Wear Mask \nStay Safe Stay Home \n@tarak9999,NaN,NaN,NaN
4,Tue May 18 15:34:15 +0000 2021,NaN,NaN,RT @DrEricDing: Pediatric warning from Singapo...,NaN,NaN,NaN
...,...,...,...,...,...,...,...
53151,Tue May 18 19:11:45 +0000 2021,NaN,NaN,RT @vaasuk: I bought this domain https://t.co/...,NaN,NaN,NaN
53152,Tue May 18 19:11:45 +0000 2021,NaN,NaN,RT @ozgurturkEU: Tens of people died recently ...,NaN,NaN,NaN
53153,Tue May 18 19:11:46 +0000 2021,NaN,NaN,RT @EmodiMba: The day Baba will take responsib...,NaN,NaN,NaN
53154,Tue May 18 19:11:46 +0000 2021,NaN,NaN,RT @kandihofred: The President @KagutaMuseveni...,NaN,NaN,NaN
53155,Tue May 18 19:11:46 +0000 2021,NaN,NaN,"RT @iirowen: Grateful that @g0vtw, a civic tec...",NaN,NaN,NaN

In [83]:
# now we want to find screen names and user names
print(df['user'][0]['screen_name'])
print(df['user'][0]['name'])

angiestephens
Ange

In [84]:
# create a list of screenNames
screenNames = []
# loop through the screen_names and append to list ScreenNames
i = 0
for screen_names in df['user']:
    screenNames.append(df['user'][i]['screen_name'])
    i+=1
# add to myDF
myDF['screen_name'] = screenNames

In [85]:
# Now that we have created a way to get the listed entities, lets do that for the rest.
userNames = []
# get userName
i = 0
for user_names in df['user']:
    userNames.append(df['user'][i]['name'])
    i+=1
# add userNames to myDF
myDF['user_name'] = userNames

In [86]:
# create list
userLoc = []
# loop through
i = 0
for user_locations in df['user']:
    userLoc.append(df['user'][i]['location'])
    i+=1
# add userLoc to myDF
myDF['location'] = userLoc

In [87]:
# create list
hashTags = []
# loop through
i = 0
for user_names in df['user']:
    hashTags.append(df['entities'][i]['hashtags'])
    i+=1
# add userLoc to myDF
myDF['hashtags'] = hashTags

In [88]:
# create list
userMentions = []
# loop through
i = 0
for user_names in df['user']:
    userMentions.append(df['entities'][i]['user_mentions'])
    i+=1
# add userLoc to myDF
myDF['mentions'] = userMentions

In [89]:
myDF

,created_at,user_name,screen_name,text,location,hashtags,mentions
0,Tue May 18 15:34:14 +0000 2021,Ange,angiestephens,RT @TigressEllie: Bolton Heatmaps (.Gov) 15th/...,"Bury, England",[],"[{'screen_name': 'TigressEllie', 'name': 'Tigr..."
1,Tue May 18 15:34:14 +0000 2021,Linda,Kindacalm,RT @billbowtell: “But (Hrdlicka’s) basic thing...,None,[],"[{'screen_name': 'billbowtell', 'name': 'Bill ..."
2,Tue May 18 15:34:14 +0000 2021,sudeepj21,sudeepj21,RT @ShamikaRavi: How NOT to communicate: Exhib...,HiranyaGarbha,[],"[{'screen_name': 'ShamikaRavi', 'name': 'Prof ..."
3,Tue May 18 15:34:14 +0000 2021,NTR_Rules ᴳᵉᵗ ʷᵉˡˡ ˢᵒᵒⁿ ᴬⁿⁿᵃ ♥️,NTRRules_,Wear Mask \nStay Safe Stay Home \n@tarak9999,Kajal Manasulo♥️♥️,[],"[{'screen_name': 'tarak9999', 'name': 'Jr NTR'..."
4,Tue May 18 15:34:15 +0000 2021,claudia,Claudia_Cooks,RT @DrEricDing: Pediatric warning from Singapo...,"Miami, FL","[{'text': 'B1617', 'indices': [76, 82]}]","[{'screen_name': 'DrEricDing', 'name': 'Eric F..."
...,...,...,...,...,...,...,...
53151,Tue May 18 19:11:45 +0000 2021,The Domain Bot,theDomainBot,RT @vaasuk: I bought this domain https://t.co/...,None,[],"[{'screen_name': 'vaasuk', 'name': 'Srini Raju..."
53152,Tue May 18 19:11:45 +0000 2021,Ahmet Aslan,AhmtAslnnn,RT @ozgurturkEU: Tens of people died recently ...,None,"[{'text': 'Turkey', 'indices': [49, 56]}, {'te...","[{'screen_name': 'ozgurturkEU', 'name': 'ozgur..."
53153,Tue May 18 19:11:46 +0000 2021,"20.10.20, PhD (Affidavit)",MeccaUS,RT @EmodiMba: The day Baba will take responsib...,EveryWhere,[],"[{'screen_name': 'EmodiMba', 'name': 'Emeodi M..."
53154,Tue May 18 19:11:46 +0000 2021,Kukuru Esther,EstherKukuru,RT @kandihofred: The President @KagutaMuseveni...,None,"[{'text': 'COVID19', 'indices': [122, 130]}]","[{'screen_name': 'kandihofred', 'name': 'Kandi..."
53155,Tue May 18 19:11:46 +0000 2021,哈哈,jazmin_lee1,"RT @iirowen: Grateful that @g0vtw, a civic tec...",None,[],"[{'screen_name': 'iirowen', 'name': 'Ian Rowen..."

In [90]:
# here we can see a few of the nested entities are still messy, 
# hopefully this can be cleaned up during the next step.

# Removing Stop Words with NLTK
import nltk
nltk.download()
# for this you can download corpus 
# or all

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [91]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [92]:
# create a list
removedSW = []

# set english stopwords
en_stops = nltk.corpus.stopwords.words('english')
# add custom stop words
new_stopwords = ['“','’','https','.', ';', ':', ')', '(', '@', '...', '//t.co/', ',', '.']
# add stopwords to en_stops
en_stops.extend(new_stopwords)
print(len(en_stops)) # 179 stopwords


# first to tokenize the words from the tweets
twToken = nltk.word_tokenize(str(myDF['text']))

# only keep words not in the stopwords set above
for word in twToken: 
    if word not in en_stops:
        removedSW.append(word)

# check the first 10 words
print(len(removedSW))
print(removedSW[1:10])

192
76
['RT', 'TigressEllie', 'Bolton', 'Heatmaps', '.Gov', '15th/', '1', 'RT', 'billbowtell']

In [93]:
# here we have removed all the stop words
# now lets look the top 10
removedSW.sort(reverse=True)
print(removedSW[1:10])

['vaasuk', 'thing', 'text', 'tec', 'tarak9999', 'take', 'responsib', 'recently', 'people']

In [94]:
myDF.to_csv('marks-tweets.csv', index=False)

In [95]:
# this concludes part 2.2 (as best as I could do!)